# Untracked file types
*.orig
*.pyc
*.sqlite3
*.xml

# untracked files and directories
tags
.ropeproject/

# Editors and IDEs
.project
*~
*.sw[op]

# Build byproducts
.coverage
.ep
.tox
/cover
/coverage
/docs/build
/.reports
/static
/collected_static


# Some OSX specific thing
*.DS_Store
/.tox/
